﻿@model PassionProject.Models.AuthorDto

@{
    ViewBag.Title = "Edit";
}


<style>
    h2 {
        border-bottom: 0.5px solid grey;
        color: #274060;
    }

    label {
        width: 30%;
    }

    .input-field {
        padding: 0.5em 0em;
    }

    input, select {
        border: 1px solid grey;
        border-radius: 3px;
        padding: 0.4em;
        width: 40%;
        text-transform: capitalize;
    }

    .btn-primary {
        background-color: #274060;
        color: #D0DB97;
        border: 1px solid transparent;
        padding: 0.3em 0.8em;
        margin-top: 1em;
        text-transform: capitalize;
    }
</style>
<h2>Update Author</h2>
<form action="/Author/Update/@Model.AuthorId" method="POST">
    <div style="display:none;" class="input-field">
        @* Pass through the Author ID *@
        <input type="text" name="AuthorID" value="@Model.AuthorId" />
    </div>
    <div class="input-field">
        <label>Name:</label> <input type="text" name="Name" value="@Model.Name" />
    </div>
    <div class="input-field">
        <label>Bio:</label> <input type="text" name="Bio" value="@Model.Bio" />
    </div>

    <div>
        <button class="btn-primary" type="submit" value="Update Author">Update Author</button>

    </div>
</form> 