﻿@model IEnumerable<PassionProject.Models.BookDto>


@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<a href="/">New Book</a>
@foreach (var book in Model)
{
    <h2><a href="/Show/@book.BookId">@book.Title</a></h2>
    //<div>Publication Year: @book.PublicationYear</div>
    //<div>Author: @book.Author.</div>


}